@using ProductInventoryMvc.Models.Entity;
@model List<Tbl_Products>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Trademark</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tbody>
        @foreach(var prd in Model)
        {
        <tr>
            <td>@prd.ProductID</td>
            <td>@prd.ProductName</td>
            <td>@prd.ProductTrademark</td>
            <td>@prd.Tbl_Categories.CategoryName</td>
            <td>@prd.ProductPrice</td>
            <td>@prd.ProductStock</td>
            <td><a href="/Product/Update/@prd.ProductID" class="btn btn-warning">Update</a></td>
            <td><a href="/Product/Delete/@prd.ProductID" class="btn btn-danger">Delete</a></td>
        </tr>
        }
    </tbody>
</table>

<a href="/Product/Add/" class="btn btn-primary">Add product</a>

